<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Tech-Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="#">Home</a>
        <a href="#">Dashboard</a>
        <a href="login">Login</a>
        <a href="#">Logout</a>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="../../public/index.js"></script>
</body>