<div id="login" class="mt-5 mx-5"> 
    <h2 class="page-title px-4 py-2">Create New Post</h2>
    <form id="postForm" class="form px-5 py-2">
      <div class="form-group row">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group row">
        <label for="post-content">Content:</label>
        <input class="form-input" type="text" id="post-content" />
      </div>
      <div class="form-group text-center py-2 row">
        <button class="btn btn-secondary" type="submit">Create</button>
      </div>
    </form>
</div>
<script src="/js/dashboardNew.js"></script>