body{
    margin: 0;
    padding: 0;
    background-color: #D9EAD3ff;
}

header{
    background-color: #231111ff;
    padding: 20px 40px;
}

#title{
    color: #231111ff;
    background-color: #D9EAD3ff;
    box-shadow: 10px 5px #898D82ff;
    border-radius: 4px;
}

a{
    color: #D9EAD3ff;
    text-decoration: none;
    margin-right: 30px;
}

#login{
    border: solid 5px #231111ff;
}

#signup{
    border: solid 5px #231111ff;
}

#logout{
    color: #D9EAD3ff;
    background: none;
    border: none;
}

.post{
    background-color: #231111ff;
    color: #D9EAD3ff;
}

#content{
    border: 2px solid #231111ff;
}

/*s
--licorice: #231111ff;
--honeydew: #D9EAD3ff;
--battleship-gray: #898D82ff;
*/

